<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="back-ground" >
                <div class="back-ground-Upper text-center">
                     <div class="" style="margin-top: 50vh;">                    
                        <h1 style="color:white;">IT Consulting Services</h1>
                        <button class="btn btn-primary btn" style="font-family: Alatsi,sans-serif!important;">RESQUEST FREE CALL</button>
                    </div>
                </div>

    </section>
    <section>

        <div class="container">
            <div class="row">
                <div class="col-md-6 contain1">
                    <h3 id="fg">Start Development Quickly</h3>
                   <p class="jss251">
                    Don’t worry if you don’t have any technical background, we here are ready to help you. Our IT consulting services can help you. we provide outstanding services that can improve you to determine your idea’s viability, create a development roadmap, and assist you in creating a prototype or MVP that will help you validate your ideas
                   </p>
                </div>
                <div class="col-md-6 contain1">
                        <ul >
                                <li>CTO as a Service</li>
                                <li>Market research</li>
                                <li>Creating development roadmaps</li>
                                <li>Guided MVP creation</li>
                        </ul>
                </div>
            </div>
        </div>

    </section>

    <section class="img" style="margin-left: 70px;" ></section>
    
</body>
</html>
