.rotate {
    animation: rotation 2s infinite;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  .linear {
    animation-timing-function: linear;
  }
  
  