<div class="container">
                <div class="row">
                    <div class="col-md-6">
                    <div class="according">
                        <div class="contentBx">
                                <div class="lable">List One</div>
                                    <div class="Contain">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt magni blanditiis enim nulla omnis? In suscipit, tempora voluptatem vero laboriosam libero iure vel nulla alias eius saepe, molestias iusto natus.</p>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-6">
                <div class="according">
                    <div class="contentBx">
                            <div class="lable">List One</div>
                                <div class="Contain">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt magni blanditiis enim nulla omnis? In suscipit, tempora voluptatem vero laboriosam libero iure vel nulla alias eius saepe, molestias iusto natus.</p>
                </div>
            </div>
        </div>
        </div>
        <div class="col-md-6">
            <div class="according">
                <div class="contentBx">
                        <div class="lable">List One</div>
                            <div class="Contain">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt magni blanditiis enim nulla omnis? In suscipit, tempora voluptatem vero laboriosam libero iure vel nulla alias eius saepe, molestias iusto natus.</p>
            </div>
        </div>
    </div>
    </div>
    <div class="col-md-6">
        <div class="according">
            <div class="contentBx">
                    <div class="lable">List One</div>
                        <div class="Contain">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt magni blanditiis enim nulla omnis? In suscipit, tempora voluptatem vero laboriosam libero iure vel nulla alias eius saepe, molestias iusto natus.</p>
        </div>
    </div>
</div>
</div>
    </div>
</div>